<h2>1.URL的构成</h2>
<hr>
例如 http://域名：端口号/文件的地址/参数<br>
<h5>HTTP协议规范了客户端和服务端之间的交互的消息和内容</h5><br>
<table border="1">
    <tr><th colspan="2">HTTP中的方法</th></tr>
    <tr>
        <td>get</td>
        <td rowspan="2">
            1.get 请求是放在url中的，post是放在request body传递，其实并不是绝对的<br>
            2.get 放在url中的参数只支持ASCALL编码格式<br>
            3.get 产生一个数据包，post产生两个数据包，因为get是http header 和data<br>
            而post是先发送header再发送数据。
        </td>
    </tr>
    <tr>
        <td>post</td>
    </tr>
</table>