<h2>协议栈内部传递信息</h2>
<hr>
<p style="color: crimson;">1.创建套接字</p>
<p style="color: crimson;">2.连接服务器</p>
<p style="color: crimson;">3.收发数据</p>
<p style="color: crimson;">4.从服务器断开连接并删除套接字</p>
<p style="color: crimson;">5.IP与以太网的包收发操作</p>
<p style="color: crimson;">6.用UDP协议收发数据的操作</p>
<hr>
<h4>关于协议栈的处理过程</h4>
<p>浏览器->Socket库(DNS解析)-->TCP/UDP-->ICMP/ARP-->网卡驱动程序-->网卡</p>
<h4>什么是套接字</h4>
套接字就是用于控制通信操作的各种控制信息，例如IP地址，端口号，发送数据的时间等等。
<h4>数据包的结构</h4>
<p>MTU是数据包的最大长度，分为IP头部，TCP头部，数据块，MTU前还有MAC头部,去掉头部就剩下MSS数据部分</p>
<h4>三次握手过程</h4>
<p>在三次握手过程中，序列号和ACK都是为了确认接收方收到了数据包，在等待ACK的过程中，可能因为网络阻塞而过</p>
<p>了很久没收到而重发，造成更加堵塞。因此引入了滑动窗口这个概念来动态的进行设置等待时间</p>
<h4>滑动窗口</h4>
<p>就是不等待ACK号发送成功后的信号，而是继续发送，那么对于接收方，不可能一直接受，所以会设置一个缓冲区进行存放</p>
<p>当缓冲区满的时候就停止接受。</p>
<h4>网络包的结构</h4>
<p>网络包是由头部和数据块构成的，头部主要是MAC头部、IP头部以及TCP头部</p>
<p>MAC头部主要是为了在路由转发中找到下一个路由位置，IP头部是为了找到服务器的位置</p>
<p>查询MAC地址需要ARP地址解析协议</p>