<h2>委托操作系统发送http请求消息</h2>
<p>消息是从子网中由集线器发出到路由器，一个接一个到目标地址/目前路由器中已经集成了集线器。</p><br>
<hr>
<p style="color: brown;">先查询对应的IP地址</p>
首先了解什么是IP地址，IP地址是32比特，分为4组，每组8个。
根据网络号和主机号的区分，有A B C 三类IP地址类型。
<h4>为什么要用IP地址和名称呢？</h4>
IP地址是为了减少路由器的压力，名称是为了人方便记忆使用，所以为了结合使用，担任中间角色的便是DNS。
<hr>
<h4>DNS是什么</h4>
首先在操作系统中有Socket库，库就像一个网络功能的程序组件包，其中就包含一个DNS解析器，解析后发送到<br>
DNS服务器上查询IP 地址。
<hr>
<p style="color: brown;">进行收发数据的过程</p>
1.服务器创建套接字<br>
2.客户端创建套接字建立管道<br>
3.进行数据的传输<br>
4.删除套接字，结束通信<br>

