<h2>2.生成http请求消息</h2>
<hr>
<h4>http消息的格式</h4>
<table border="2">
    <tr><th>请求消息</th><th>响应消息</th></tr>
    <tr>
        <td>①请求行<br>
                <p>方法  空格  URI(统一资源定位符) 空格 HTTP版本</p>
        </td>
        <td>①状态行<br>
                <p>HTTP版本 空格 响应码 空格 响应短语</p>
        </td>
    </tr>
    <tr>
        <td>②消息头<br>
                <p>字段  ： 字段值</p>
        </td>
        <td>②消息头<br>
            <p>字段  ： 字段值</p>
    </td>
    </tr>
    <tr>
        <td>③消息体<br>
                <p></p>
        </td>
        <td>③消息体<br>
            <p></p>
    </td>
    </tr>
</table>
<h4>响应的状态码</h4>
<table border="1">
    <tr><td>1XX</td><td>服务器收到请求，需要请求者进一步操作</td></tr>
    <tr><td>2XX</td><td>成功</td></tr>
    <tr><td>3XX</td><td>重定向，需要进一步操作</td></tr>
    <tr><td>4XX</td><td>浏览器请求错误</td></tr>
    <tr><td>5XX</td><td>服务器错误</td></tr>
</table>